* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background: #ffffeb !important;
}
a,
p,
h1,
h2,
h3,
h4 {
  color: #2d2f0c !important;
}
a {
  text-decoration: none !important;
}

.hero-text {
  font-size: 5rem;
}
.header {
  background-color: #2d2f0c;
}
.navbar-fixed-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  z-index: 999;
}

.nav-line {
  color: #f9f9f9;
}

.footer {
  background-color: #e1e686;
}
.footer p,
.footer a,
.footer h5 {
  color: #2d2f0c;
}
button {
  background-color: #2d2f0c;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #fff;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.button-yellow {
  background-color: #e1e686;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #2d2f0c;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}
.premade-box {
  background-color: #2d2f0c;
}
.premade-box img {
  border-radius: 50px;
}
.premade-box p {
  font-size: 1.2rem;
}
.dropdown-item:active {
  background-color: #2d2f0c !important;
  color: #fff !important;
}
.list-group {
  border: #2d2f0c 1px solid;
  padding: 1rem;
  padding-left: 1rem !important;
}
.list-group-item {
  border: none !important;
  background-color: #ffffeb !important;
}
.list-group-item .active {
  background-color: #2d2f0c !important;
  color: #fff !important;
}

.table {
  --bs-table-bg: none !important;
}
.table-group-divider {
  border-top: 1px #2d2f0c solid;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  line-height: 40px;
}
.modal-footer,
.modal-content {
  background-color: #ffffeb !important;
}
.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}
