{% extends 'base-full.html' %} {% block content %}
<div class="container mt-5">
  <h3 class="fw-semibold">Account</h3>
  <p>Welcome back, {{ name }}</p>
  <div class="row g-5">
    <div class="col-md-5 col-lg-3">
      <ul class="list-group mb-3">
        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-semibold"
              href="{{ url_for('dashboard') }}"
              >Account overview</a
            >
          </div>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-sm p-3">
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('profile') }}"
              >My details</a
            >
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm p-3">
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('logout') }}"
              >Logout</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-7 col-lg-9">
      <h5 class="fw-semibold">Order History</h5>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="alert-container">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% if order_history %}
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Order number</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Staus</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for order in order_history %}
          <tr>
            <th scope="row">
              <a href="{{ url_for('order_details', id=order.id) }}"
                >#{{ order.id }}
              </a>
            </th>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.orderStatus }}</td>
            <td>
              {% if order.orderStatus == 'Processing'%}
              <!-- Button trigger modal -->
              <button
                type="button"
                class="rounded-2"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                style="
                  padding-right: 1rem;
                  padding-left: 1rem;
                  padding-top: 0;
                  padding-bottom: 0;
                "
              >
                Cancel order
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4
                        class="fw-semibold"
                        id="exampleModalLabel"
                      >
                        Cancel order
                      </h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to cancel order?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="rounded-2 button-yellow"
                        data-bs-dismiss="modal"
                        style="
                          padding-right: 1rem;
                          padding-left: 1rem;
                          padding-top: 0;
                          padding-bottom: 0;
                        "
                      >
                        No
                      </button>

                      <form
                        action="{{ url_for('cancel_order', order_id=order.id) }}"
                        method="POST"
                      >
                        <button
                          type="submit"
                          class="rounded-2"
                          style="padding: 0 1rem"
                        >
                          Yes
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% else %} {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      {% endfor %} {% else %}
      <p>You haven't ordered anything.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
