{% extends 'base-full.html' %} {% block content %}
<div class="container mt-5">
  <h3 class="fw-semibold">Account</h3>
  <p>Welcome back, {{ name }}</p>
  <div class="row g-5">
    <div class="col-md-5 col-lg-3">
      <ul class="list-group mb-3">
        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-semibold"
              href="{{ url_for('dashboard') }}"
              >Account overview</a
            >
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm p-3">
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('profile') }}"
              >My details</a
            >
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm p-3">
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('logout') }}"
              >Logout</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-7 col-lg-9">
      <h5 class="fw-semibold">Order History</h5>
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="alert-container">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% if order_history %}
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">Order number</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for order in order_history %}
          <tr>
            <th scope="row">
              <a href="{{ url_for('order_details', id=order.id) }}"
                >#{{ order.id }}</a
              >
            </th>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.orderStatus }}</td>
            <td>
              {% if order.orderStatus == 'Processing' %}
              <!-- Button trigger modal for cancelling order -->
              <button
                class="rounded-2"
                data-bs-toggle="modal"
                data-bs-target="#cancelModal{{ order.id }}"
                style="padding: 0rem 1rem"
              >
                Cancel order
              </button>
              <!-- Cancel Order Modal -->
              <div
                class="modal fade"
                id="cancelModal{{ order.id }}"
                tabindex="-1"
                aria-labelledby="cancelModalLabel{{ order.id }}"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4
                        class="fw-semibold"
                        id="cancelModalLabel{{ order.id }}"
                      >
                        Cancel order
                      </h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to cancel order #{{ order.id }}?
                    </div>
                    <div class="modal-footer">
                      <button
                        class="rounded-2 button-yellow-sm"
                        data-bs-dismiss="modal"
                      >
                        No
                      </button>
                      <form
                        action="{{ url_for('cancel_order', order_id=order.id) }}"
                        method="POST"
                      >
                        <button
                          type="submit"
                          class="rounded-2"
                          style="padding: 0 1rem"
                        >
                          Yes
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %} {% if order.orderStatus == 'Waiting for payment' %}
              <a
                href="{{ url_for('make_payment', order_id=order.id) }}"
                class=""
              >
                <button
                  class="rounded-2"
                  style="padding: 0rem 1rem"
                >
                  Pay Now
                </button>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>You haven't ordered anything.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
