{% extends 'base-full.html' %} {% block content %}
<div class="container mt-5">
  <h5>Product Details</h5>
  <div class="d-flex gap-5 mt-5">
    <img
      src="{{ url_for('static', filename=veggie.img_src) }}"
      alt="{{ veggie.vegName }}"
    />
    <div>
      <h1 class="fw-semibold">{{ veggie.vegName }}</h1>
      <p>${{ price }} / {{ perUnit }} {{ unit }}</p>
      <h1 class="fw-semibold">${{ price }}</h1>

      <!-- Add to Cart Form -->
      <form
        action="{{ url_for('add_to_cart') }}"
        method="POST"
      >
        <input
          type="hidden"
          name="item_id"
          value="{{ veggie.id }}"
        />
        <input
          type="hidden"
          name="item_name"
          value="{{ veggie.vegName }}"
        />
        <input
          type="hidden"
          name="item_price"
          value="{{ price }}"
        />
        <input
          type="hidden"
          name="img_src"
          value="{{ veggie.img_src }}"
        />

        <div class="mb-2">
          <label for="quantity">Quantity:</label>
          <input
            type="number"
            name="quantity"
            value="1"
            min="1"
          />
        </div>

        <button type="submit">Add to Cart</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
