{% extends 'base-full.html' %} {% block content %}
<div class="container text-center p-5 mb-5">
  <i
    class="bi bi-check-circle-fill"
    style="font-size: 8rem"
  ></i>
  <h1>Thank you for your purchase!</h1>
  <h4>
    We are pleased to confirm your order
    <strong>#{{ order.id }}</strong> 
  <div>
    <h6 class="mt-2">
      If you have any questions about your order, feel free to contact our
      customer service team at
      <a href="mailto:info@freshharvestveggies.com">[Customer Service Email]</a>
    </h6>
  </div>

  <a href="{{ url_for('index') }}"
    ><button class="mt-5 rounded-2">Continue Shopping</button></a
  >
</div>
{% endblock %}
