{% extends 'base-full.html' %} {% block content %}
<div class="container mt-5">
  <h5>Product Details</h5>
  <div class="d-flex gap-5 mt-5">
    <img
      src="{{ url_for('static', filename=premadebox.img_src) }}"
      alt="premabox"
    />
    <div>
      <h1 class="fw-semibold">Premadebox</h1>
      <p>size: {{ premadebox.boxSize }}</p>
      <div class="d-flex"></div>
      <h1 class="fw-semibold">${{ premadebox.price }}</h1>
      <!-- Add to Cart Form -->
      <form
        action="{{ url_for('add_to_cart') }}"
        method="POST"
      >
        <input
          type="hidden"
          name="item_id"
          value="{{ premadebox.id }}"
        />

        <div class="mb-2">
          <label for="quantity">Quantity:</label>
          <input
            type="number"
            name="quantity"
            value="1"
            min="1"
          />
        </div>

        <button type="submit">Add to Cart</button>
      </form>
      <h6 class="mt-5">Box content:</h6>
      <p>{{ premadebox.boxContent }}</p>
    </div>
  </div>
</div>
{% endblock %}
