{% extends 'base-full.html' %} {% block content %}
<div class="container mt-5">
  <h3 class="fw-semibold">Account</h3>
  <p>Welcome back, {{ name }}</p>
  <div class="row g-5">
    <div class="col-md-5 col-lg-3">
      <ul class="list-group mb-3">
        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-semibold"
              href="{{ url_for('dashboard') }}"
              >Account overview</a
            >
          </div>
        </li>

        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('staff_orders') }}"
              >Orders</a
            >
          </div>
        </li>

        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('staff_products') }}"
              >Products</a
            >
          </div>
        </li>

        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('staff_premadebox') }}"
              >Premade box</a
            >
          </div>
        </li>
        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('staff_customers') }}"
              >Customers</a
            >
          </div>
        </li>
        <li
          class="list-group-item d-flex justify-content-between lh-sm p-3 active"
        >
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('staff_reports') }}"
              >Reports</a
            >
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm p-3">
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('profile') }}"
              >My details</a
            >
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm p-3">
          <div>
            <a
              class="my-0 fw-medium"
              href="{{ url_for('logout') }}"
              >Logout</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-7 col-lg-9">
      <h5 class="fw-semibold mb-4">Customers List</h5>
      {% if customers %}
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Customer type</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for customer in customers %}
          <tr>
            <th scope="row">
              <a
                href="{{ url_for('staff_view_customer', customer_id=customer.id) }}"
                >{{ customer.id }}</a
              >
            </th>
            <td>{{ customer.firstName }} {{ customer.lastName }}</td>
            <td>{{ customer.type }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>No customers found.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
